:root {
  --background-color: #060c17;
  --text-color: #f0f0df;
  --primary-color: #274472;
  --primary-light: #b3c7e6;
  --primary-dark: #122440;
    --secondary-color: #0b192e;
  --card-bg: #23272b;
  --border-radius: 12px;
  --box-shadow: 0 2px 8px rgba(0,0,0,0.18);
  --transition: all 0.2s;
}
body.no-navbar {
  padding-top: 0;
}
html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}